.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--clr-white);
	box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
	border-radius: var(--border-xl);
	max-width: 300px;
	width: 300px;
	padding: 18px 50px 40px;

	@media (width <= 997px) {
		border-radius: var(--border-lg);
		padding: 25px 30px 35px;
		max-width: 230px;
	}
}

.name {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 600;
	text-align: center;
	margin-top: 25px;
	font-size: 24px;
	line-height: 29px;
	max-width: 180px;

	@media (width <= 997px) {
		margin-top: 15px;
	}

	@media (width <= 598px) {
		font-size: 20px;
		line-height: 24px;
		margin-top: 10px;
	}
}

.photoContainer {
	width: 200px;
	height: 230px;

	@media (width <= 997px) {
		width: 170px;
		height: 190px;
	}
}