.title {
	color: var(--clr-black);
	font-size: 28px;
	font-family: Rubik, sans-serif;
	font-weight: 500;
	margin-top: 50px;
	margin-bottom: 10px;

	@media (width <= 598px) {
		font-size: 24px;
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
	align-items: flex-start;
	cursor: pointer;

	@media (width <= 598px) {
		gap: 8px;
	}
}

.catalogItem {
	margin-top: 20px;
	width: 23.5%;
	padding-bottom: 23.5%;

	@media (width <= 997px) {
		margin-top: 10px;
	}

	@media (width <= 598px) {
		padding-bottom: 47.6%;
		width: 47.6%;
	}
}