.container {
	background: var(--clr-white);
	box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
	border-radius: var(--border-xl);
	padding: 25px;
	max-width: 300px;
	width: 100%;
	height: 100%;
}

.personContainer {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
}

.photo {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: red;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.name {
		font-size: 30px;
		color: white;
		font-family: Rubik, sans-serif;
	}
}

.personName {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

.dateFeedback {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: var(--clr-gray-60);
	text-align: initial;
	margin-top: 5px;
}

.feedback {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--clr-gray-60);
	text-align: initial;
	margin-top: 25px;
}