.title {
	color: var(--clr-black);
	font-family: Rubik, sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-top: 50px;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 45px;
	gap: 50px;
}
