.container {
	display: block;

	@media (width <= 598px) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 30px 20px 0 20px;
	}
}

.vklogo {
	display: none;
	width: 40px;
	height: 40px;

	@media (width <= 598px) {
		display: block;
	}

	& path:first-child {
		fill: var(--clr-red-primary-hover);
	}

	&:hover path:first-child {
		opacity: 0.7;
	}
}