.container {
	box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
	border-radius: 15px;
	max-width: 460px;
	width: 100%;
	display: flex;
	gap: 30px;
	align-items: center;
	padding: 15px 25px;
	background-color: var(--clr-white);
	cursor: pointer;

	@media (width <= 993px) {
		max-width: 288px;
		width: 100%;
		padding: 12px;
	}

	@media (width <= 680px) {
		gap: 10px;
	}

	@media (width <= 680px) {
		min-width: inherit;
		width: 100%;
		max-width: 100%;
	}

	&.active {
		background-color: var(--btn-primary);
	}

	&:hover {
		background-color: var(--btn-primary-hover);
	}

	.container-image {
		background-color: var(--clr-gray-primary);
	}
    
	&.active .container-image, &:hover .container-image {
		background-color: var(--clr-white);
	}
}

.container-image {
	position: relative;
	width: 60px;
	min-width: 60px;
	height: 60px;
	border-radius: 50%;

	@media (width <= 993px) {
		width: 40px;
		min-width: 40px;
		height: 40px;
	}
}

.image {
	max-width: 34px;
	max-height: 34px;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@media (width <= 993px) {
		max-width: 22px;
		max-height: 22px;
	}
}

.answer {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 120%;
	color: var(--clr-black);

	@media (width <= 993px) {
		font-size: 14px;
	}
}