.Modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: var(--modal-z-index);
	opacity: 0;
	pointer-events: none;
}

.overlay {
	width: 100%;
	height: 100%;
	background: rgba(0 0 0 / 60%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	border-radius: 12px;
	padding: 20px;
	max-width: calc(var(--max-width-desktop) - 20px);
	transition: 0.2s transform;
	background-color: var(--clr-white);
	transform: scale(0.7);
	overflow: hidden;
}

.opened {
	pointer-events: auto;
	opacity: 1;

	.content {
		transform: scale(1);
	}
}

.container {
	max-width: var(--max-width-desktop);
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
