.item {
	font-size: 16px;
	font-family: Lato, sans-serif;
	font-weight: 400;
	line-height: 16px;
	color: var(--clr-black);
	transition: color .2s;
	cursor: pointer;

	&:hover {
		color: var(--clr-red-primary);
	}
}
.relative {
	position: relative;
}

.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
}