.container {
	position: relative;
}

.wrapper {
	margin-top: 120px;

	@media (width <=993px) {
		margin-top: 100px;
	}

	@media (width <=598px) {
		margin-top: 80px;
	}
}

.flexLeft, .flexRight {
	display: flex;
	align-items: center;
	margin-top: 60px;
	justify-content: space-between;
	width: calc(50% + 30px);
	gap: 20px;

	@media (width <= 993px) {
		gap:40px;
	}

	@media (width <= 598px) {
		width: 100%;
		gap: 20px;
		align-items: flex-start;
	}
}

.flexLeft {
	margin-right: auto;

	@media (width <= 598px) {
		flex-flow: row;
		margin-right: 0;
	}
}

.flexRight {
	margin-left: auto;

	@media (width <= 598px) {
		flex-flow: row-reverse;
		margin-left: 0;
	}
}