.container {
	border-radius: 25px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;

	@media (width <= 997px) {
		border-radius: 15px;
	}
}

.name {
	position: absolute;
	color: var(--clr-white);
	font-size: 24px;
	font-family: Lato, sans-serif;
	font-weight: 600;
	line-height: 110%;
	max-width: 70%;
	top: 5%;
	left: 5%;

	@media (width <= 997px) {
		font-size: 16px;
	}
}