.container {
	padding: 110px 40px 60px 40px;
	background-color: #F8F8F8;;
	max-width: 380px;
	width: 100%;
}

.optionsContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 60px;
}

.containerOptionPrice {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.total {
		margin-top: 30px;
	}

	.btn {
		margin-top: 16px;
	}
}

.btn {
	padding: 18px 0;
	width: 100%;
	text-align: center;
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.option {
	color: #CDCDCD;
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.price {
	color: var(--clr-black);
	font-family: Rubik, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.closeModal {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 24px;
	height: 24px;
	opacity: 0.2;
	cursor: pointer;
	transition: opacity ease 0.5s;

	&:hover {
		opacity: 1;
	}
}

.closeModal::before,
.closeModal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #000;
}

.closeModal::before {
	transform: rotate(45deg);
}

.closeModal::after {
	transform: rotate(-45deg);
}