.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin-top: 90px;

	@media (width <=997px) {
		margin-top: 30px;
	}

	@media (width <=810px) {
		margin-top: 30px;
		flex-wrap: wrap;
	}

	@media (width <=598px) {
		margin-top: 20px;
		gap: 10px;
	}
}