.container {
	background: #FFF;
	box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
	border-radius: 12px;
	width: 100%;
	margin-top: 10px;
	padding: 25px;
	display: none;

	@media (width <= 670px) {
		display: block;
	}
}

.answer {
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: var(--clr-black);
}

.question {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 135%;
	color: var(--clr-gray-50);
	margin-top: 15px;
	margin-bottom: 10px;
}