.container {
	max-width: 657px;
	width: 100%;

	@media (width <= 680px) {
		display: none;
	}
}

.question {
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 120%;
	color: var(--clr-black);

	@media (width <= 993px) {
		font-size: 24px;
	}
}

.answer {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 135%;
	color: var(--clr-gray-50);
	margin-top: 40px;
	max-width: 640px;
	width: 100%;

	@media (width <= 993px) {
		font-size: 16px;
		margin-top: 25px;
	}
}