.container-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
}

.container-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
	gap: 50px;

	@media (width <= 993px) {
		gap: 50px;
		margin-top: 25px;
	}

	@media (width <= 680px) {
		gap: normal;
	}
}

.vkLogo {
	@media (width <= 993px) {
		width: 30px;
		height: 30px;
	}

	@media (width <= 680px) {
		display: none;
	}
}

.vkLogoMobile {
	display: none;

	@media (width <= 680px) {
		display: block;
		width: 30px;
		height: 30px;
	}
}

.answers {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media (width <= 993px) {
		gap: 10px;
		width: 288px;
		min-width: 288px;
	}

	@media (width <= 680px) {
		min-width: inherit;
		width: 100%;
	}
}

.btn-list{
	display: flex;
	justify-content: space-between;
	max-width: 90px;
	height: 40px;
	align-items: flex-start;
	gap: 10px;

	@media (width <= 993px) {
		display: none;
	}
}

.btn-left {
	padding: 13px 11px 13px 16px;
}

.btn-right {
	padding: 13px 16px 13px 11px;
}

.arrow-left {
	width: 10px;
	height: 10px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	transform: rotate(-135deg);
	transition: 1s;
	margin: 0 auto;
}

.arrow-right {
	width: 10px;
	height: 10px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	transform: rotate(45deg);
	transition: 1s;
	margin: 0 auto;
}

.btn {
	&.disabled .arrow-left, &.disabled .arrow-right {
		border-top-color: #CFCFCF;
		border-right-color: #CFCFCF;
	}

	&.disabled {
		cursor: not-allowed;
	}
}

.question {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}