.container {
	padding: 15px 30px;
	border-radius: 15px;
	background: var(--clr-white);
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	gap: 20px;

	&:hover {
		background: var(--btn-primary);

		.active {
			background: var(--btn-primary-hover);
		}
	}
}

.activeContainer {
	background: var(--btn-primary);

	&:hover {
		background: var(--btn-primary-hover);
	}
}

.icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--clr-gray-primary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: var(--clr-white);
	}

	image {
		width: 26px;
		height: 26px;
	}
}

.activeIcon {
	background-color: var(--clr-white);
}

.title {
	color: var(--clr-black);
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
}
