.container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 585px;
}

.content {
	padding: 0;
	border-radius: 20px;
	overflow: hidden;
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
}
