.container {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: clip;
	overflow-y: inherit;
	margin: 0 -8px;
	padding: 0 8px;
}

.default {
	width: initial;
	height: unset;
}
