.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.item {
	border-radius: 25px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
	width: 230px;
	gap: 20px;
	height: 70px;

	&:hover {
		background: linear-gradient(0deg, #fff 0%, #fff 100%), #ffbbbc;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);

		.iconContainer {
			background: #ff9d96;
		}

		.iconContainer .icon path {
			stroke: white;
		}

		.iconContainer .iconFill path {
			stroke: white;
			fill: white;
		}

		// .title .iconContainer .icon {
		// 	fill: var(--clr-white);
		// }
	}
}

.title {
	color: var(--clr-black);
	font-family: Lato, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.iconContainer {
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 100%;

	.icon {
		width: 28px;
		height: 28px;

		path {
			stroke: black;
		}
	}

	.iconFill {
		width: 28px;
		height: 28px;

		path {
			stroke: black;
			fill: black;
		}
	}
}

.containerMain {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 60px;
}

.containerLogout {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 60px;
	position: absolute;
	bottom: 30px;
}
