.logo {
	font-family: Borsok, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 550px;
	line-height: 120%;
	color: var(--clr-red-primary-hover);
	transform: rotate(27deg);
	position: absolute;
	top: -14px;
	left: -128px;

	@media (width <= 997px) {
		font-size: 400px;
		top: 8px;
		left: -173px;
	}

	@media (width <= 598px) {
		display: none;
	}
}