.modal {
	position: absolute;
	top: 25px;
	right: 0;
	background-color: var(--clr-white);
	box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
	border-radius: 20px 0 20px 20px;
	padding: 20px 25px;
	display: none;
	z-index: 2;
	
	>.list > a {
		display: block;
		color: var(--clr-black);
		font-family: Lato, sans-serif;
		width: max-content;
	}

	>.list > a:hover {
		color: #A5A2A0;
	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: 10px
}

.active {
	display: block;
}