.container {
	border-radius: 25px;
	width: 300px;
	overflow: hidden;
	box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
	padding-bottom: 20px;
	min-height: 510px;
	position: relative;

	@media (width <= 997px) {
		width: 182px;
		border-radius: 15px;
		padding-bottom: 15px;
		min-height: 340px;
	}

	@media (width <= 598px) {
		width: 170px;
		border-radius: 12px;
		min-height: 340px;
	}
}

.containerTop {
	height: 250px;
	width: 100%;
	position: relative;

	@media (width <= 997px) {
		height: 141px;
	}
}

.lineEvents {
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	top: 0;
	left: 0;
	width: 100%;

	@media (width <= 997px) {
		padding-left: 14px;
		padding-right: 14px;
		padding-top: 10px;
	}
}

// знак скидки
.sale {
	background-color: var(--btn-subscribe);
	transition: background-color .2s;
	border-radius: 8px;
	padding: 4px 15px;

	&:hover {
		background-color: var(--btn-subscribe-hover);
	}

	.text {
		font-family: Rubik, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
		color: #FFF;
	}

	@media (width <= 997px) {
		padding: 2px 8px;
		border-radius: 5px;

		.text {
			font-size: 12px;
			line-height: 14px;
		}
	}

	@media (width <= 598px) {
		.text {
			font-size: 10px;
			line-height: 12px;
		}
	}
}

// знак выбора избранных
.favorite {
	background: var(--clr-white);
	border-radius: var(--border-md);
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.heart {
		width: 20px;
		height: 20px;

		path {
			fill-opacity: 0;
			stroke: var(--clr-gray-70);
			stroke-width: 24px;
		}
	}

	@media (width <= 997px) {
		width: 28px;
		height: 28px;
		border-radius: var(--border-sm);

		.heart {
			width: 14px;
			height: 14px;
		}
	}

	@media (width <= 598px) {
		width: 25px;
		height: 25px;
		border-radius: 7px;

		.heart {
			width: 11px;
			height: 11px;
		}
	}
}

.image {
	height: 250px;
	width: 100%;

	& img {
		width: 100%;
		height: 100%;
	}

	@media (width <= 997px) {
		height: 141px;
	}
}

.feedbackAndDate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;

	@media (width <= 997px) {
		margin-top: 10px;
	}
}

.containerMiddler {
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	text-align: left;

	@media (width <= 997px) {
		padding-left: 14px;
		padding-right: 14px;
	}
}

.containerDays {
	position: absolute;
	top: -45px;
	left: 50%;
	transform: translateX(-50%);

	@media (width <= 997px) {
		top: -28px;
	}
}


.dateEnd {
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--clr-red-primary);

	@media (width <= 997px) {
		font-size: 11px;
		line-height: 13px;
	}

	@media (width <= 598px) {
		font-size: 10px;
		line-height: 12px;
	}
}

.title {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: var(--clr-black);
	margin-top: 10px;

	@media (width <= 997px) {
		font-size: 16px;
		line-height: 19px;
		margin-top: 7px;
	}

	@media (width <= 598px) {
		font-size: 13px;
		line-height: 16px;
		margin-top: 6px;
	}
}

.author {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--clr-gray-50);
	margin-top: 5px;

	@media (width <= 997px) {
		font-size: 12px;
		line-height: 14px;
		margin-top: 3px;
	}

	@media (width <= 598px) {
		font-size: 12px;
		line-height: 14px;
	}
}

.basePrice {
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: var(--clr-gray-20);
	text-decoration: line-through;
	text-decoration-color: var(--clr-red-primary);
	text-decoration-thickness: 2px;
	margin-top: 30px;

	@media (width <= 997px) {
		font-size: 14px;
		line-height: 17px;
		margin-top: 20px;
	}
}

.price {
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: var(--clr-black);
	margin-top: 5px;

	@media (width <= 997px) {
		font-size: 16px;
		line-height: 19px;
		margin-top: 0;
	}
}

// кнопка корзины
.buttonCart {
	background-color: var(--btn-primary);
	border-radius: var(--border-lg);
	width: 260px;
	min-height: 47px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 35px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);

	.amount {
		font-family: Rubik, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: var(--clr-black);
	}

	.svgItem {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		height: 100%;
	}

	@media (width <= 997px) {
		max-width: 154px;
		width: 100%;
		border-radius: 10px;
		gap: 20px;
		min-height: 31px;
		margin-top: 10px;

		.amount {
			font-size: 16px;
			line-height: 19px;
		}

		.svgItem img {
			height: 11px;
			width: 11px;
		}
	}

	@media (width <= 598px) {
		width: 142px;
		min-height: 27px;
		border-radius: 7px;
	}
}