@font-face {
	font-family: Rubik;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local("Rubik"),
		url("/fonts/Rubik/Rubik-Light.woff2") format("woff2"),
		url("/fonts/Rubik/Rubik-Light.woff") format("woff");
}

@font-face {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Rubik"),
		url("/fonts/Rubik/Rubik-Regular.woff2") format("woff2"),
		url("/fonts/Rubik/Rubik-Regular.woff") format("woff");
}

@font-face {
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local("Rubik"),
		url("/fonts/Rubik/Rubik-Medium.woff2") format("woff2"),
		url("/fonts/Rubik/Rubik-Medium.woff") format("woff");
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Lato"),
		url("/fonts/Lato/Lato-Regular.woff2") format("woff2"),
		url("/fonts/Lato/Lato-Regular.woff") format("woff");
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local("Lato"),
		url("/fonts/Lato/Lato-Medium.woff2") format("woff2"),
		url("/fonts/Lato/Lato-Medium.woff") format("woff");
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("Lato"),
		url("/fonts/Lato/Lato-Bold.woff2") format("woff2"),
		url("/fonts/Lato/Lato-Bold.woff") format("woff");
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local("Lato"),
		url("/fonts/Lato/Lato-Semibold.woff2") format("woff2"),
		url("/fonts/Lato/Lato-Semibold.woff") format("woff");
}

@font-face {
	font-family: Borsok;
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Borsok"),
	url("/fonts/Borsok/Borsok.woff2") format("woff2"),
	url("/fonts/Borsok/Borsok.woff") format("woff");
}

@font-face {
	font-family: Jost;
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Jost"),
	url("/fonts/Jost/Jost-Medium.woff2") format("woff2"),
	url("/fonts/Jost/Jost-Medium.woff") format("woff");
}