.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 125px;
	gap: 40px;

	@media (width <= 993px) {
		margin-top: 100px;
	}

	@media (width <= 650px) {
		margin-top: 75px;
		flex-direction: column;
		gap: 25px;
	}
}
.containerText {
	align-self: flex-start;
}

.title {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
	color: var(--clr-black);

	@media (width <= 993px) {
		font-size: 24px;
		line-height: 29px;
	}

	@media (width <= 650px) {
		font-size: 24px;
		line-height: 29px;
	}
}

.description {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	margin-top: 40px;
	color: var(--clr-gray-60);
	max-width: 425px;
	width: 100%;



	@media (width <= 993px) {
		margin-top: 20px;
		font-size: 16px;
		line-height: 130%;

		.indent {
			margin-top: 15px;
		}
	}

	@media (width <= 650px) {
		font-size: 16px;
	}
}

.indent {
	margin-top: 25px;

	@media (width <= 993px) {
		margin-top: 15px;
	}
}

.photo {
	width: 50%;

	@media (width <= 650px) {
		width: 80%;
		order: -1;
	}

}