.layout {
	margin: 0 auto;
	max-width: var(--max-width-desktop);
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;

	@media (width <= 598px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}
