.container {
	background-color: var(--clr-red-primary);

	@media (width <= 598px) {
		max-width: var(--max-width-desktop);
		margin-left: 30px;
		margin-right: 30px;
	}
}
.copyright {
	border-top: 2px solid var(--clr-red-primary-hover);
	max-width: var(--max-width-desktop);
	width: 100%;
	margin: 70px auto 0;
	padding-bottom: 24px;
	position: inherit;
	z-index: 1;
	padding-left: 20px;
	padding-right: 20px;

	@media (width <= 997px) {
		margin-top: 20px;
	}

	@media (width <= 598px) {
		padding-left: 10px;
		padding-right: 10px;
		border-top: 1px solid var(--clr-red-50);
	}
}

.content {
	margin-top: 20px;
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--clr-red-primary-hover);

	@media (width <= 598px) {
		margin-top: 5px;
	}
}