.list {
	display: flex;
	gap: 85px;
	align-items: flex-start;

	@media (width <= 997px) {
		justify-content: space-between;
		gap: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}

	@media (width <= 598px) {
		flex-direction: column;
		margin-left: 20px;
		margin-right: 20px;
	}
}