.header {
	max-width: var(--max-width-desktop);
	width: 100%;
	margin: 30px auto 0;
	padding-left: 20px;
	padding-right: 20px;

	@media (width <= 997px) {
		margin-top: 20px;
	}

	@media (width <= 598px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	@media (width <= 997px) {
		gap: 20px;
	}
}

.headerDesktop {
	@media (width <= 997px) {
		display: none;
	}
}

.headerTablet {
	display: none;

	@media (width <= 997px) {
		display: flex;
	}
}


.header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.logo {
	cursor: pointer;
	width: auto;

	@media (width <= 997px) {
		width: 120px;
	}
}

.logoHref {
	@media (width <= 997px) {
		max-width: 120px;
		width: 100%;
	}
}

.city {
	padding: 15px 20px;
	font-size: 16px;
	font-family: Lato, sans-serif;
	font-weight: 400;
	display: flex;
	gap: 15px;
	border-radius: var(--border-lg);
}

.btn {
	border-radius: 24px;
	height: 70px;
	width: 70px;

	.heart {
		width: 24px;
		height: 24px;

		path {
			fill-opacity: 0;
			stroke: var(--clr-black);
			stroke-width: 42px;
		}
	}

	&:hover {
		.heart path {
			stroke: red;
			fill-opacity: 1;
			fill: red;
		}
	}
	
	@media (width <= 997px) {
		height: 50px;
		max-width: 50px;
		width: 100%;
		border-radius: 15px;
	}

	@media (width <= 598px) {
		height: 38px;
		max-width: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.heart {
	@media (width <= 598px) {
		& img {
			height: 16px;
			max-width: 16px;
		}

	}
}

.btn-list {
	display: flex;
	gap: 20px;
	align-items: center;
}