.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 100%;
    min-width: 270px;
}

.containerCategory {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
	cursor: pointer;
	&:hover {
		.title {
			color: #A5A2A0;
		}
	}

	&.active {
		color: #A5A2A0;
	}
}

.title {
	color: var(--clr-black);
	font-family: Lato, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	max-width: 152px;
}


.img {
	width: 40px;
	height: 40px;
}


.containerArrow {
	cursor: pointer;
	padding: 12px;

	&:hover, &.active {
		.arrow {
			border-top: 1px solid #A5A2A0;
			border-right: 1px solid #A5A2A0;
		}
	}
}

.arrow {
	width: 9px;
	height: 9px;
	border-top: 1px solid var(--clr-black);
	border-right: 1px solid var(--clr-black);
	transform: rotate(135deg);
	display: inline-block;
	transition: trasform 1s;

	&.active {
		transform: rotate(-45degdeg);
	}
}

.childrenContainer {
	margin-top: 16px;
	padding: 0 20px;
}