.btn-list{
	display: flex;
	justify-content: space-between;
	max-width: 90px;
	height: 40px;
	align-items: flex-start;
	gap: 10px;

	@media (width <= 997px) {
		display: none;
	}
}

.btn-left {
	padding: 13px 11px 13px 16px;
}

.btn-right {
	padding: 13px 16px 13px 11px;
}

.arrow-left {
	width: 10px;
	height: 10px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	transform: rotate(-135deg);
	transition: 1s;
	margin: 0 auto;
}

.arrow-right {
	width: 10px;
	height: 10px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	transform: rotate(45deg);
	transition: 1s;
	margin: 0 auto;
}

.btn {
	&.disabled .arrow-left, &.disabled .arrow-right {
		border-top-color: #CFCFCF;
		border-right-color: #CFCFCF;
	}

	&.disabled {
		cursor: not-allowed;
	}
}