.circle {
	display: flex;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: conic-gradient(var(--btn-primary) 100%,  var(--clr-gray-primary) 0deg);
	font-size: 0;
	z-index: 2;
	position: relative;

	&::after {
		content: attr(data-value);
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 60px;
		margin: 4px;
		border-radius: 50%;
		background: white;
		font-family: Lato, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
	}


	@media (width <= 598px) {
		width: 40px;
		height: 40px;

		&::after {
			width: 40px;
			margin: 3px;
			font-size: 18px;
		}
	}

	@media (width <= 330px) {
		display: none
	}
}