.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	margin-top: 85px;

	@media (width <= 780px) {
		gap: 0;
		flex-direction: column;
		background: var(--clr-white);
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
		border-radius: 20px;
		padding: 35px 15px;
	}
}

.containerLeft {
	@media (width <= 870px) {
		width: 75%;
	}
	@media (width <= 780px) {
		width: 100%;
	}
}

.sloganTitle {
	font-size: 48px;
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: 57px;
	color: var(--clr-black);
	max-width: 550px;
	width: 100%;

	@media (width <= 1260px) {
		font-size: 32px;
		line-height: 38px;
	}

	@media (width <= 993px) {
		font-size: 28px;
		line-height: 33px;
	}

	@media (width <= 780px) {
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		font-family: Rubik, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 34px;
		line-height: 100%;
		text-align: center;
		color: var(--clr-black);
	}

	@media (width <= 557px) {
		font-size: 26px;
	}

	@media (width <= 340px) {
		margin-top: 20px;
		font-size: 20px;
	}
}

.sloganDescription {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: var(--clr-gray-60);
	padding-top: 25px;
	max-width: 445px;
	width: 100%;

	@media (width <= 993px) {
		font-size: 16px;
		line-height: 20px;
	}

	@media (width <= 780px) {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		font-size: 24px;
		line-height: 100%;
		text-align: center;
	}

	@media (width <= 557px) {
		font-size: 16px;
		line-height: 130%;
	}

	@media (width <= 340px) {
		margin-top: 10px;
		font-size: 14px;
	}
}

.photo {
	max-width: 666px;
	width: 100%;

	@media (width <= 780px) {
		width: 90%;
		margin: 0 auto;
	}

}

.photoContainer {
	@media (width <= 780px) {
		display: flex;
		order: -1
	}
}