.container {
	display: block;

	@media (width <= 598px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}
}

.arrow {
	display: none;

	@media (width <= 598px) {
		display: block;
	}

	&.active {
		transform: rotate(-180deg);
	}
}

.title {
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: var(--clr-white);

	@media (width <= 997px) {
		font-size: 18px;
		line-height: 21px;
	}
}