.container {
	padding: 30px 40px;
}

.name {
	color: var(--clr-black);
	font-family: Lato, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.city,
.property {
	color: #b3b3b3;
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.city {
	margin-top: 8px;
}

.property {
	width: 180px;
	min-width: 180px;
}

.value,
input.value {
	color: var(--clr-black);
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 100%;
}

.imageContainer {
	width: 140px;
	height: 140px;
	border-radius: 15px;
	overflow: hidden;
}

.image {
	width: 140px;
	height: 140px;
}

.userFill {
	background-color: var(--clr-red-primary);
	width: 140px;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		color: var(--clr-white);
		font-size: 60px;
		font-family: Lato, sans-serif;
		text-align: center;
	}
}

.skeleton {
	width: 100%;
	height: 100%;
	line-height: 1;
}

.userContainer {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 20px;
}

.formContainer {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.propertyValueContainer {
	display: flex;
	justify-content: flex-start;
	gap: 70px;
}

.btn {
	margin-top: 40px;
	padding: 10px 30px;
	color: var(--clr-black);
	text-align: center;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
