.container {
	@media (width <= 993px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media (width <= 598px) {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
}

.title {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
	color: var(--clr-black);

	@media (width <= 598px) {
		font-size: 24px;
		line-height: 28px;
	}
}

.description {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	color: var(--clr-gray-60);
	max-width: 425px;
	width: 100%;
	margin-top: 40px;

	@media (width <= 598px) {
		font-size: 16px;
		line-height: 20px;
		margin-top: 20px;

	}
}

.photo {
	@media (width <= 993px) {
		max-width: 344px;
		width: 100%;
		margin-top: 40px;
		align-self: center;
	}
}