.button {
	cursor: pointer;
	border-radius: var(--border-sm);
	transition: background-color 0.2s;
	
	&:disabled {
		cursor: not-allowed;
	}
}

.borderMd {
	border-radius: var(--border-md);
}

.borderLg {
	border-radius: var(--border-lg);
}

.borderXl {
	border-radius: var(--border-xl);
}

.primary {
	color: var(--clr-black);
	background-color: var(--btn-primary);

	&:hover {
		background-color: var(--btn-primary-hover);
	}
}

.ghost {
	color: var(--clr-black);
	background-color: var(--clr-gray-primary);

	&:hover {
		background-color: var(--clr-gray-primary-hover);
	}
}

.red {
	color: var(--clr-white);
	background-color: var(--clr-red-primary);

	&:hover {
		background-color: var(--clr-red-primary-hover);
	}
}

.black {
	color: var(--clr-white);
	background-color: var(--btn-black);

	&:hover {
		background-color: var(--btn-black-hover);
	}
}

.disabled {
	opacity: 0.4;
}
