.h1, .h2, .h3 {
	font-family: Rubik, sans-serif;
	font-weight: 500;
	line-height: 120%;
	color: var(--clr-black);
}

.h1 {
	font-size: 36px;

	@media (width <= 997px) {
		font-size: 24px;
	}

	@media (width <= 598px) {
		font-size: 20px;
	}
}

.h2 {
	font-size: 32px;
}

.h3 {
	font-size: 24px;
}
