:root {
	--btn-subscribe-hover: #eb3f49;
	--btn-subscribe: #eb3f49;
	--clr-star-filled: #f47f6e;
	--clr-red-primary: #ff9182;
	--clr-red-50: #ffa79b;
	--clr-red-primary-hover: #ffb7ad;
	--btn-primary: #e1eb75;
	--btn-primary-hover: #f7ff9b;
	--clr-white: #fff;
	--clr-gray-primary: #f4f6f8;
	--clr-gray-20: #d9d9d9;
	--clr-gray-50: #b7b6b6;
	--clr-gray-60: #a8a8a8;
	--clr-gray-70: #8e93a3;
	--clr-gray-primary-hover: #ebedef;
	--clr-black: #000;
	--max-width-desktop: 1300px;
	--border-sm: 8px;
	--border-md: 12px;
	--border-lg: 15px;
	--border-xl: 20px;
	--clr-input-placeholder: #a0a1a1;
	--btn-black: #323141;
	--btn-black-hover: #5a5969;

	// индексы
	--modal-z-index: 10;
}
