@import 'vars';
@import 'reset';

form {
	width: 100%;
}

.Toastify__toast-container {
	min-width: 370px;

	@media (width <= 480px) {
		min-width: auto;
	}
}

.Toastify__toast-body {
	font-size: 15px;
	font-family: Lato, sans-serif;
}

.Toastify__close-button {
	width: 24px;
}
