.container {
	display: flex;
	flex-direction: column;
}

.input {
	border-radius: 10px;
	width: 270px;
	height: 40px;
	padding: 12px 20px;
	color: var(--clr-black);
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 110%;
	background-color: var(--clr-gray-primary);
	border-radius: 10px;

	&::placeholder,
	&::input-placeholder {
		color: var(--clr-gray-60);
	}

	&:focus,
	&:hover {
		background-color: var(--clr-gray-primary-hover);
	}
}

.error {
	border: 1px var(--btn-subscribe) solid;
}

.messageError {
	color: var(--btn-subscribe);
	font-family: Lato, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	text-align: center;
	margin-top: 4px;
}
