.footer {
	background-image: url("/images/footer-fon-desktop.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 100px;
	position: relative;
	overflow: hidden;
	padding-top: 210px;

	@media (width <= 997px) {
		background-image: url("/images/footer-fon-tablet.png");
		padding-top: 100px;
		margin-top: 80px;
	}

	@media (width <= 630px) {
		background-image: url("/images/footer-fon-mobile.png");
		margin-top: 60px;
	}
}

.content {
	max-width: var(--max-width-desktop);
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: inherit;
	z-index: 1;
	padding-left: 20px;
	padding-right: 20px;

	@media (width <= 598px) {
		padding-left: 10px;
		padding-right: 10px;
	}

	@media (width <= 997px) {
		display: block;
	}
}