.list {
	display: flex;
	flex-direction: column;
	gap: 80px;
	margin-top: 75px;

	@media (width <= 997px) {
		margin-top: 45px;
		gap: 45px;
	}

	@media (width <= 598px) {
		margin-top: 35px;
		gap: 30px;
	}
}