.container {
	box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
	background-color: var(--clr-white);
	border-radius: var(--border-xl);
	max-width: 300px;
	width: 100%;
	padding: 50px 25px 10px;
	position: relative;
	align-self: normal;

	@media (width <=997px) {
		margin-top: 50px;
		max-width: 40%;
	}

	@media (width <=700px) {
		margin-top: 50px;
		max-width: 48%;
	}

	@media (width <= 598px) {
		padding-top: 26px;
	}
}

.title {
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	text-align: center;
	color: var(--clr-black);

	@media (width <=598px) {
		font-size: 14px;
	}
}

.description {
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 135%;
	text-align: center;
	color: var(--clr-gray-60);
	margin-top: 10px;
	max-width: 250px;
	white-space: pre-wrap;

	@media (width <=598px) {
		font-size: 12px;
	}
}

.image {
	position: absolute;
	top: -53px;
	left: 50%;
	transform: translateX(-50%);
	width: 96px;
	height: 96px;
	background-color: var(--clr-gray-primary);
	border-radius: 50%;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 50px;
		max-height: 50px;
	}

	@media (width <=598px) {
		width: 70px;
		height: 70px;

		img {
			max-width: 50%;
			max-height: 50%;
		}
	}
}