.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 120px;

	@media (width <= 997px) {
		margin-top: 100px;
	}

	@media (width <= 598px) {
		margin-top: 80px;
	}
}

.containerList {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 60px;

	@media (width <= 997px) {
		margin-top: 40px;
	}

	@media (width <= 598px) {
		margin-top: 20px;
	}
}
