.container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	@media (width <= 997px) {
		align-items: flex-start;
		margin-top: 50px;
		margin-left: 20px;
		margin-right: 20px;
	}

	@media (width <= 997px) {
		margin: 0;
	}
}

.phone {
	font-family: Jost, Lato, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: var(--clr-white);
	margin-top: 10px;
}

.info {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	color: var(--clr-white)
}

.email {
	margin-top: 10px;
}

.vk {
	& path:first-child {
		fill: var(--clr-red-primary-hover);
	}

	&:hover path:first-child {
		opacity: 0.7;
	}

	@media (width <= 997px) {
		display: none;
	}
}

.fondContainer {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-top: 40px;

	@media (width <= 570px) {
		width: 100%;
		justify-content: space-between;
	}
}
.fond {
	color: #F8F8F8;
	text-align: right;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	max-width: 226px;
}

