.containerHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin-top: 100px;
	
	@media (width <= 997px) {
		margin-top: 80px;
	}

	@media (width <= 598px) {
		margin-top: 60px;
	}
}

.title {
	color: var(--clr-black);
	font-family: Rubik, sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.containerList {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 45px;

	@media (width <= 997px) {
		margin-top: 30px;
	}

	@media (width <= 598px) {
		margin-top: 20px;
	}
}
