.wrapper {
	background-image: url('/images/shared/wrapperFerMirRegistr.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.title {
	color: #565b1c;
	text-align: center;
	font-size: 32px;
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.info {
	color: #565b1c;
	text-align: center;
	font-size: 14px;
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	margin-top: 20px;
}

.btn {
	border-radius: 10px;
	border: 1.5px solid #565b1c;
	background: #e1eb75;
	width: 192px;
	height: 40px;
	margin-top: 40px;
}
