.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	gap: 125px 40px;
	width: 50%;
	margin-top: 80px;

	@media (width <= 993px) {
		width: 100%;
		grid-template-columns: repeat(auto-fill, minmax(155px, 186px));
		gap: 125px 20px;
		justify-content: space-between;
	}

	@media (width <= 553px) {
		grid-template-columns: repeat(auto-fill, minmax(155px, 170px));
	}

	@media (width <=380px) {
		grid-template-columns: 1fr;
		gap: 90px 0;
	}
}