.container {
	padding: 10px 20px 4px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 7px;
	background-color: var(--clr-white);
	position: relative;
	border-radius: 8px 8px 0 0;

	@media (width <= 997px) {
		padding: 4px 10px 2px;
		gap: 5px;
	}
}

.day {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--clr-gray-60);

	@media (width <= 997px) {
		font-size: 11px;
		line-height: 13px;
	}
}

.available {
	color: var(--clr-black);
}

.radiusLeft {
	position: absolute;
	left: -24px;
	bottom: -4px;
	transform: rotate(-90deg);

	@media (width <= 997px) {
		width: 13px;
		height: 9px;
		left: -10px;
		bottom: -3px;
	}
}

.radiusRight {
	position: absolute;
	right: -16px;
	bottom: 4px;

	@media (width <= 997px) {
		width: 13px;
		height: 9px;
		right: -7px;
		bottom: 1px;
	}
}