.container {
	box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
	background-color: var(--clr-white);
	border-radius: var(--border-xl);
	max-width: 540px;
	width: 100%;
	padding: 25px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 25px;

	@media (width <= 1200px) {
		gap: 15px;

		.title {
			font-size: 18px;
		}

		.description {
			font-size: 14px;
		}

		.image {
			height: 80px;
			max-width: 80px;

			img {
				width: 44px;
				height: 44px;
			}
		}
	}

	@media (width <= 993px) {
		flex-wrap: wrap;
		justify-content: center;
		max-width: 430px;
		width: 100%;
		gap: 0;
		.title {
			text-align: center;
			margin-top: 15px;
		}

		.description {
			text-align: center;
			margin-top: 15px;
		}
	}

	@media (width <= 598px) {
		.description {
			font-size: 16px;
		}
	}
}

.title {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: var(--clr-black);
}

.description {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	margin-top: 15px;
	color: var(--clr-gray-60);
}

.image {
	position: relative;
	height: 100px;
	max-width: 100px;
	width: 100%;
	background-color: var(--clr-gray-primary);
	border-radius: 50%;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 64px;
		height: 64px;
	}
}