.filled {
	fill: var(--clr-star-filled)
}

.star {
	margin-right: 5px;
	width: 13px;
	height: 13px;

	@media (width <= 997px) {
		width: 10px;
		height: 10px;
		margin-right: 3px;
	}

	@media (width <= 598px) {
		width: 8px;
		height: 8px;
	}
}

.cur {
	cursor: pointer;
}