.description {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: var(--clr-gray-50);
	margin-top: 50px;
	font-family: Lato, sans-serif;

	@media (width <= 997px) {
		margin-top: 30px;
	}

	@media (width <= 598px) {
		font-size: 16px;
		margin-top: 20px;
	}
}

.title {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 130%;

	@media (width <= 598px) {
		font-size: 20px;
	}
}