.container {
	padding-top: 55px;
	padding-left: 80px;
	padding-bottom: 50px;
	width: 100%;
	overflow-y: auto;
}

.breadcrumb {
	border-bottom: 1px solid #E8E8E8;
	margin-top: 35px;
	padding-bottom: 10px;

		color: var(--clr-black);
		font-family: Lato, sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

	&.totalPrice {
		text-align: center;
	}
}

.gridContainer {
	display: grid;
	grid-template-columns:
    minmax(380px, 1fr)
    minmax(75px, 90px)
    minmax(150px, 1fr)
    minmax(30px, 30px);
	max-width: 700px;
	width: 100%;
}
	.productContainer {
		display: flex;
		gap: 20px;
		align-items: center;
		max-width: 360px;
		width: 100%;
		align-self: center;
		margin-top: 20px;

		.productName {
			color: var(--clr-black);
			font-family: Lato, sans-serif;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}

		.price {
			color: #CDCDCD;
			font-family: Rubik, sans-serif;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-align: left;
		}

		.img{
			width: 140px;
			height: 90px;
			border-radius: 8px;
			object-fit: cover;
		}
	}

	.countContainer {
		display: flex;
		gap: 20px;
		align-items: center;
		align-self: center;

		.minus, .plus, .count  {
			color: #000;
			text-align: center;
			font-family: Rubik, sans-serif;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			cursor: pointer;
			user-select: none;
		}
	}

	.price {
		color: var(--clr-black);
		text-align: center;
		font-family: Rubik, sans-serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		align-self: center;
	}

	.close {
		cursor: pointer;
		align-self: center;
	}