.container {
	box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
	background-color: var(--clr-white);
	border-radius: var(--border-xl);
	max-width: 186px;
	width: 100%;
	padding-top: 46px;
	padding-bottom: 35px;
	height: 100px;
	position: relative;

	@media (width <= 553px) {
		max-width: 186px;
	}

	@media (width <= 380px) {
		max-width: 100%;
		padding-top: 66px;
		padding-bottom: 66px;
	}
}

.title {
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	text-align: center;
	color: var(--clr-black);

	@media (width <= 380px) {
		font-size: 18px;
	}
}

.image {
	position: absolute;
	top: -53px;
	left: 50%;
	transform: translateX(-50%);
	width: 96px;
	height: 96px;
	background-color: var(--clr-gray-primary);
	border-radius: 50%;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50px;
		height: 50px;
	}
}