.container {
	width: 590px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.containerContent {
	width: 290px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	color: var(--clr-black);
	text-align: center;
	font-size: 32px;
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.info {
	color: var(--clr-gray-50);
	text-align: center;
	font-size: 16px;
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	margin-top: 30px;
	max-width: 268px;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 40px;
	width: 100%;
}

.forgotPassword {
	margin-top: 15px;
	color: #b7b6b6;
	font-size: 12px;
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	align-self: flex-start;
}

.input {
	width: 100%;
}

.btn {
	margin-top: 20px;
	height: 40px;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 14px;
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	line-height: 110%;
}
