.content {
	margin-left: auto;
	width: fit-content;
	align-self: flex-start;
	padding: 0;
	height: 100%;
	border-radius: 20px;
	position: relative;
}

.containerModal {
	height: 100%;
}

.user {
	background-color: var(--clr-gray-primary);
	width: 340px;
	padding-top: 60px;
	padding-bottom: 54px;
}

.cardUser {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.userImage {
	border-radius: 20px;
	width: 80px;
	height: 80px;
}

.userFill {
	background-color: var(--clr-red-primary);
	border-radius: 20px;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		color: white;
		font-size: 40px;
		font-family: Lato, sans-serif;
		text-align: center;
	}
}

.username {
	color: var(--clr-black);
	font-family: Rubik, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-top: 10px;
}
