.footerList {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 9px;

	@media (width <= 598px) {
		margin-top: 15px;
		gap: 10px;
		display: none;

		&.active {
			display: flex;
		}
	}
}

.href {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #F8F8F8;

	@media (width <= 598px) {
		font-size: 18px;
	}
}