.container {
	background-color: var(--clr-gray-primary);
	padding: 50px 110px 90px 70px;
	margin-top: 100px;
	border-radius: 25px;

	@media (width <= 997px) {
		margin-left: -20px;
		margin-right: -20px;
		padding: 50px 38px;
		margin-top: 80px;
	}

	@media (width <= 598px) {
		padding: 35px 30px;
		margin-left: -10px;
		margin-right: -10px;
		border-radius: 12px;
		margin-top: 50px;
	}
}

.h1 {
	@media (width <= 997px) {
		font-size: 28px;
	}

	@media (width <= 598px) {
		font-size: 24px;
	}
}