.search-wrapper {
	height: 50px;
	max-width: 822px;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: flex-end;

	&:hover .input {
		background-color: var(--clr-gray-primary-hover);
	}

	@media (width <= 598px) {
		height: 38px;
	}

	&.active {
		.input {
			@media (width <= 598px) {
				width: 100%;
			}

			@media (width <= 598px) {
				width: 100%;
				margin-left: inherit;
				transition: width 0.4s;
				&::placeholder {
					color: var(--clr-input-placeholder);
				}

				&::input-placeholder {
					color: var(--clr-input-placeholder);
				}
			}
		}
	}
}

.input {
	padding: 15px 0 15px 35px;
	color: var(--clr-black);
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	width: 100%;
	background-color: var(--clr-gray-primary);
	border-radius: var(--border-lg);

	&::placeholder,
	&::input-placeholder {
		color: var(--clr-input-placeholder);
	}

	@media (width <= 598px) {
		width: 50px;
		height: 50px;
	}

	@media (width <= 598px) {
		transition: width 0.4s;
		font-size: 14px;
		padding: 10px 0 10px 12px;
		width: 38px;
		height: 38px;
		margin-left: auto;

		&::placeholder {
			color: transparent;
		}

		&::input-placeholder {
			color: transparent;
		}
	}

	&:focus {
		background-color: var(--clr-gray-primary-hover);
	}
}

.glass {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	display: block;
	width: auto;
	cursor: pointer;

	@media (width <= 997px) {
		right: 10px;
	}

	@media (width <= 598px) {
		right: 9px;
		width: 20px;
	}
}
